## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swo
*.swp

## PROJECT::GENERAL
config/mixpanel.yml
coverage
rdoc
pkg
doc
.yardoc

## PROJECT::SPECIFIC
test/
tmp/

## Bundler/Gems
*.gem
.bundle
Gemfile.lock
pkg/*
